body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.26));
    height: 100vh;
    margin:0;
    padding: 0;
}
*{
    text-decoration: none;
}
.date-div{
    font-size: 3rem;
    font-family: monospace;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 1rem;
}
.content{
    display: grid;
    grid-template: 1fr /1fr;
    justify-items: center;
    align-content: center;
}
h1{
    margin-top: -1rem;
    color: #2f4f4f;
    font-size: 5rem;
    font-weight: 900;
    font-family:dancing2;
    margin: 1rem;
    filter: drop-shadow(3px 4px 2px rgba(24, 29, 27, 0.651));
}

/* Implement page styling; alignment and sizing of form elements */

@font-face {
    font-family: dancing1;
    src: url(./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: dancing2;
    src: url(./fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}