html{
    font-size: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.26));
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 1rem;
}
.date-div{
    font-size: 3rem;
    font-family: monospace;
}

.header-icons>img{
    width: 3rem;
    padding: 0 0.5rem;
}
.content{
    display: grid;
    grid-template: 1fr /1fr;
    justify-items: center;
}
.content>h3{
    color: #2f4f4f;
    font-size: 3.8rem;
    font-family:dancing1;
    margin: 0 0 -2rem 0;
    filter: drop-shadow(2px 2px 1px rgba(8, 78, 43, 0.651));
}
.content>h1{
    margin-top: -1rem;
    color: #369e9e;
    font-size: 5rem;
    font-weight: 900;
    font-family:dancing2;
    margin: 1rem;
    filter: drop-shadow(3px 4px 2px rgba(24, 29, 27, 0.651));
}
.content>p{
    font-size: 2.2rem;
}
.content>img{
    border-radius: 25%;
    filter: drop-shadow(20px 20px 5px rgba(8, 78, 43, 0.651));
}
.pointer{
    margin: 3.5rem;
    border-radius: 50%;
    padding: 1rem;
    background: #2f4f4f;
    filter: drop-shadow(4px 3px 2px #087843);
}

@font-face {
    font-family: dancing1;
    src: url(./fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: dancing2;
    src: url(./fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}